.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-size);
  justify-content: center;
  gap: 48px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(3, $card-size);
  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(2, $card-size);
  }

  @media (max-width: 487px) {
    grid-template-columns: $card-size;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-size;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
